/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage/framework/views/*.php
/storage/framework/cache/data/
/public/run_migrate.php
check_users.php
test_artisan.php
test_boot.php
test_db.php
serve.php
